* {
    font-family: 'Paytone One', sans-serif;
    font-weight: bold;
}

a:link, a:visited {
    color: #0088a4;
    text-decoration: none;
}

a:hover {
    color: lightseagreen;
    text-decoration: none;
}

.think li {
    padding: 5px;
}

body {
    background: url("../backgrounds/add_thing_bg.svg");
    background-size: 100%;
    background-attachment: fixed;
    margin: 0px;
}

#error_msg {
    position: fixed;
    width: 340px;
    color: #e8ebef;
    background-color: #0089a4;
    border: 5px solid #1f4a8e;
    text-align: center;
    right: -350px;
    font-weight: bold;
}

#error_msg span {
    padding: 7px;
    display: block;
    text-transform: uppercase;
}

#container {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
}

#content {
    width: 1000px;
    min-height: 500px;
    margin: auto;
    background-color: #0089a4;
    border-radius: 10px;
}


#user_settings_container, #user_thinks_container{
    padding: 10px;
}

button {
    width: 170px;
    height: 40px;
    background-color: #008aa4;
    color: #022f38;
    outline: none;
    font-size: 17px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
    border: 3px solid #06434f;
    display: block;
    border-radius: 5px;
}

input, #aboutMe {
    width: 170px;
    height: 40px;
    background-color: #008aa4;
    color: #022f38;
    outline: none;
    font-size: 17px;
    text-align: center;
    margin: 20px auto;
    border: 3px solid #06434f;
    border-radius: 5px;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: bold;
}

#user {
    width: 200px;
    margin: 15px;
    float: left;
}

#user img {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    object-fit: contain;
}

#user_info {
    font-weight: bold;
    color: #06434f;
}

.about_user {
    width: 700px;
    min-height: 440px;
    float: left;
    margin: 25px 0px 0px 40px;
    border-radius: 10px;
}

.about_user_content {
    width: 100%;
    min-height: 410px;
    background-color: #06434f;
    margin-top: 38px;
    display: none;
}

.active {
    display: block;
}

.active_tab {
    background-color: #06434f;
    color: #0089a4;
}

.about_user_description {
    width: 665px;
    min-height: 110px;
    color: #0089a4;
    font-weight: bold;
    text-align: justify;
    margin: auto;
    padding: 20px 0px 5px 0px;
    font-size: 15px;
    border-bottom: 2px solid #0089a4;
}

.about_user_thinks {
    width: 665px;
    min-height: 250px;
    margin: 10px auto 0px auto;
}

.about_user_thinks span {
    color: #0089a4;
    font-size: 25px;
    word-spacing: 5px;
    font-weight: bold;
}

.think {
    width: 660px;
    min-height: 200px;
    margin-top: 10px;
}

.think ul {
    font-size: 18px;
    color: #0089a4;
    font-weight: bold;
}

.user_profile_info {
    width: 130px;
    text-align: center;
    padding: 10px;
    float: left;
    color: #06434f;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.9s;
    z-index: 2;
}

.user_profile_info::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    background-color: #06434f;
    width: 0%;
    height: 0%;
    transition: width 0.8s, height 0.8s, left 0.8s;
    border-radius: 40% 40% 0px 0px;
    z-index: -1;
}

.user_profile_info:hover::before {
    width: 110%;
    height: 200%;
    left: -5%;
}

.user_profile_info:hover {
    color: #0089a4;
}

.current_user_profile_info {
    background-color: #06434f;
    color: #0089a4;
}
